@font-face{
    font-family: "letra";
    src: url(tipografia/Orbitron-VariableFont_wght.ttf);
    font-size: 35px;
}
@font-face{
    font-family: "cursiva";
    src: url(tipografia/GloriaHallelujah-Regular.ttf);
}
body{
    display: flex;
    flex-direction: column;  /* Controla la orientación principal */
    justify-content: flex-end; /* Alinea los contenidos al final del contenedor principal */
    align-items: center; /* Centra los elementos transversalmente */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(img/fondoIndex.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

/*header*/

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* Fondo opcional semi-transparente */
}
header .navbar{
    padding-left: 50px;
    position: relative;
    display: flex;
    list-style: none;
}
header .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
header .navbar ul li {
    margin-right: 20px; /* Espacio entre ítems */
}

header .navbar li a{
    text-decoration: none;
    color: white ;
    font-weight: 600;
    padding: 8px;
    transition: 0.3s;
    font-size: 1em;
    text-transform: uppercase;
} 
header .navbar li a:hover{
    color:  rgb(46, 226, 243);
}

/*contenido*/

fieldset{
    position: absolute;
    top: 130px;
    right: 50px;
    padding-bottom: 50px;
    background-color: #1E211B;
    border: 5px solid rgb(46, 226, 243);
    border-radius: 20px;
    width: 500px;
    height: 550px;
    float: right;
    padding: 20px;
    display: block;
}
fieldset input{
    margin-bottom: 10px;
}
p{
    font-family: "cursiva";
}
h2{
    font-family: "letra";
    color: white;
}
div{
    font-family: "letra";
    color: white;
}
.amarillo{
    color: rgb(231, 196, 57);
}
.turquesa{
    color: #7af1d6;
}
.morado{
    color: #bb6ce6;
}
.azul{
    color: #2d13f4;
}
.enviar{
    font-family: "cursiva";
    float: right;
    background-color: #1E211B;
    margin: 0px;
    border-radius: 20px;
    border: 5px solid rgb(46, 226, 243);
    padding: 10px 10px;
    color: whitesmoke;
}
a {
    color: white; 
    display: flex;
    text-transform: uppercase;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.enviar:hover {
    color: rgb(46, 226, 243);
    text-decoration: none; /* Asegura que no haya subrayado al pasar el cursor sobre los enlaces */
}

/*footer*/
.footer {
    width: calc(100% - 40px); /* Ajusta el ancho del footer al 100% menos el padding de 20px en cada lado */
    position: fixed; /* Fija el footer en la parte inferior de la ventana */
    bottom: 0; /* Alinea el footer en la parte inferior */
    left: 0; /* Asegura que el footer comience desde el borde izquierdo */
    padding: 20px; /* Añade un relleno al footer para separarlo del borde de la ventana */
    background: rgba(0, 0, 0, 0.6); /* Color de fondo semi-transparente */
    color: white; /* Color del texto */
}

.container-footer {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centra verticalmente el contenido */
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
}

.contact-info {
    display: flex;
    flex-direction: column; /* Organiza los elementos de contacto-info en columna */
    align-items: flex-start; /* Alinea al inicio, que es a la izquierda */
}

.contact-info ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen para ajustar correctamente */
}

.redesSociales {
    display: flex;
    align-items: center; /* Alinea los íconos verticalmente al centro */
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Asegura que no hay margen extra que afecte la alineación */
}
.redesSociales ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.redesSociales li {
    margin-left: 10px;
}

.redesSociales li a {
    color: white;
    font-size: 2.5em; /* Ajusta el tamaño de los íconos si es necesario */
    transition: color 0.3s; /* Transición suave al cambiar de color */
}

.redesSociales li:hover a {
    color: rgb(46, 226, 243); /* Color al pasar el mouse */
}

.copy-right {
    flex-grow: 1; /* Toma todo el espacio disponible */
    text-align: center; /* Centra el texto horizontalmente */
}